*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
sphinx_source/blog/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# mypy
.mypy_cache

sphinx_source/blog/stan_codes/*
!sphinx_source/blog/stan_codes/*.stan

# sphinx
build
gettext
jupyter_execute
