Sphinx>=6
sphinx-copybutton
sphinx-design
myst-parser[linkify]>=2
myst-nb>=1.0
ablog>=0.11
sphinx-codeautolink
sphinx-togglebutton
sphinxext-opengraph
sphinx-notfound-page
sphinxext-rediraffe
sphinxcontrib-youtube
git+https://github.com/oriolabril/oriol-personal-theme
ipython>=8.10
