Sphinx>=5
sphinx-copybutton
sphinx-design
myst-parser[linkify]>=2
myst-nb @ git+https://github.com/executablebooks/myst-nb
ablog>=0.11
sphinx-codeautolink
sphinxext-opengraph
sphinx-notfound-page
sphinxext-rediraffe
sphinxcontrib-youtube
git+https://github.com/oriolabril/oriol-personal-theme
ipython>=8.10
