/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";

// notebook badges class: https://stackoverflow.com/a/20653092/2504700
.nb-badges
{
    padding:3px; /* this */
}

.nb-badges > div
{
    margin:3px;  /* and that, will result in a 10px gap */
}

// copy icon behaviour to ai (for academicons)
.ai {
  border-bottom: none;

  > .label {
    display: none;
  }
}

@import "global";
@import "entries";
@import "base";

// extra customization on massively
body, input, select, textarea {
    line-height: 1.5;
  }

ul, ol {
  margin: 0 0 0 0;
}

li {
  &:last-child {
    margin: 0 0 1.5rem 0;
  }
  .toc-h2, .toc-h3, .toc-h4, .toc-h5 {
    margin: 0 0 0 0;
  }
}

ul.actions, ul.icons, ul.links {
  li {
    &:last-child {
      margin: 0 0 0 0;
    }
  }
}
