<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
  </head>
  <body id="wrapper">

      <!-- Header -->
      <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
      </header>

      <!-- Nav -->
        <nav id="nav">

          {% include nav.html %}

        </nav>

      <!-- Main -->
      <div id="main">

        <!-- Post summary grid -->
        <section class="posts">
          {% for post in site.posts %}
            {% include entry_square.html %}
          {% endfor %}

        </section>

        </div>

      <!-- Footer -->
      {% include foot.html %}
      <div class="bg"></div>

    <!-- Scripts -->
    {% include scripts-main.html %}

  </body>
</html>
