<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
          <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>

        <!-- Nav -->
          <nav id="nav">

            {% include nav.html %}

          </nav>

        <!-- Main -->
        <div id="main">

          <!-- Post -->
          <section class="post">
            <p>{{content}}</p>
          </section>

          <!-- Footer -->
            <footer>
              <ul class="actions">
                <li><a href="{{ "/home" | absolute_url }}" class="button">Home</a></li>
                <li><a href="{{ "/blog/" | absolute_url }}" class="button">Back to blog</a></li>
              </ul>
            </footer>
          </div>

        <!-- Footer -->
        {% include foot.html %}

      </div>

      <!-- Scripts -->
      {% include scripts-main.html %}
      {% include tracking.html %}

  </body>
</html>
